.an-header {
  position: relative;
  width: 100%;


  .navbar-default {
    @include border-radius(0);
    //background: transparent;
    background: rgba($color-secondary, .2);
    border-bottom: 1px solid rgba($font-color-white, .3);
    @include transition();

    &.dark {
      background: $color-secondary;
      border-bottom: 1px solid $color-secondary-dark;
    }
  }
}
