@import 'navbar-brand';
@import 'navbar-dropdown';
@import 'navbar-right';

.navbar-default {
  border: 0;
  margin-bottom: 0;

  @media (max-width: $screen-menu-breakpoint) {
    overflow: hidden;
  }
  .navbar-brand {
    @include navbar-brand;
  }

  .navbar-nav {
    float: right;
    > .open {
      > a {
        color: $color-primary;
        background: transparent;
        &:hover,
        &:focus,
        &:active {
          color: $color-primary;
          background: transparent;
        }
      }
    }
    > li {
      &.dropdown {

        &:hover {
          .dropdown-menu {
            @media (min-width: $screen-md) {
              visibility: visible;
              opacity: 1;
              top: 100%;
            }
          }
        }
      }
      > a {
        color: darken($font-color-white, 15%);
        padding-top: $padding-base;
        padding-bottom: $padding-base;
        @extend .text-uppercase;
        .caret {
          display: none;
        }

        i {
          font-size: $font-size-base + 4;
          padding-right: $padding-small - 5;
          position: relative;
          top: 1px;
        }
        &:hover,
        &:focus,
        &:active {
          color: $color-primary;
          background: transparent;
        }
      }
      &.active {
        > a {
          background: transparent;
          color: $color-primary;
          &:hover,
          &:focus,
          &:active{
            background: transparent;
            color: $color-primary;
          }
        }
      }

      .dropdown-menu {
        @include dropdown;
      }
    }

    &.navbar-right {
      @include navbar-right;
    }
  }
}
