<!DOCTYPE html>
<html>
@*<head>
        <style type="text/css">
            .gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
                font-weight: 400
            }
        </style>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <style type="text/css">
            .gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
                font-size: 10px
            }
        </style>
        <style type="text/css">
            .gm-style-pbc {
                transition: opacity ease-in-out;
                background-color: rgba(0,0,0,0.45);
                text-align: center
            }

            .gm-style-pbt {
                font-size: 22px;
                color: white;
                font-family: Roboto,Arial,sans-serif;
                position: relative;
                margin: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%)
            }
        </style>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hobbyist</title>

        <link href="https://fonts.googleapis.com/css?family=Ek+Mukta:300,400,500,600%7CMerriweather+Sans:700%7CCabin:400i%7CLobster+Two:700i" rel="stylesheet">

        <link rel="stylesheet" href="./Content/assets/css/vendor-styles.css">
        <link rel="stylesheet" href="./Content/assets/css/animate.min.css">
        <link rel="stylesheet" href="./Content/assets/css/styles.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
            .gm-style {
                font: 400 11px Roboto, Arial, sans-serif;
                text-decoration: none;
            }

                .gm-style img {
                    max-width: none;
                }
        </style>
    </head>*@

<head>
    <title>Story by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>



<body>
    <!-- Wrapper -->
    <div id="wrapper" class="divided">

        @RenderBody()
    </div> <!-- end main wrapper -->
    <script src="./Content/assets/js-plugins/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="./Content/assets/js/contact-map.js" type="text/javascript"></script>
    <script src="./Content/assets/js-plugins/bootstrap.min.js" type="text/javascript"></script>
    <script src="./Content/assets/js-plugins/isotope.pkg.min.js" type="text/javascript"></script>
    <script src="./Content/assets/js-plugins/owl.carousel.min.js" type="text/javascript"></script>
    <script src="./Content/assets/js-plugins/wow.min.js" type="text/javascript"></script>
    <script src="./Content/assets/js/scripts.js" type="text/javascript"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script type="text/javascript" src="/dist/manifest.js?da976f2c6f143c3098fe"></script>
    <script type="text/javascript" src="/dist/vendor.js?da976f2c6f143c3098fe"></script>
    <script type="text/javascript" src="/dist/vendorStyles.js?da976f2c6f143c3098fe"></script>
    <script type="text/javascript" src="/dist/app.js?da976f2c6f143c3098fe"></script>
    <script type="text/javascript" src="/dist/appStyles.js?da976f2c6f143c3098fe"></script>
</body>
</html>

