/*
=============================================
Table of content

1. Scaffolding
2. Typography
3. Forms
4. Buttons
5. General style
6. Utility classes
7. Header
8. Footer
9. Home seciton
10. Title
11. Work section
12. Sercives
13. About us
14. Pricing
15. Blog
16. Contact us

=======================================
 */
/* --------------------------------------------------
 Scaffolding
 -------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Ek Mukta", sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #4d5d66;
  background-color: #e8eff0;
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #425057;
  text-decoration: none;
  transition: all .3s ease; }
  a:hover, a:focus {
    color: #1ba853;
    text-decoration: none; }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 27px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.2s ease-in-out 0.3s ease;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ek Mukta", sans-serif;
  color: #161b1d; }
  h1 small,
  h1 .small, h2 small,
  h2 .small, h3 small,
  h3 .small, h4 small,
  h4 .small, h5 small,
  h5 .small, h6 small,
  h6 .small,
  .h1 small,
  .h1 .small, .h2 small,
  .h2 .small, .h3 small,
  .h3 .small, .h4 small,
  .h4 .small, .h5 small,
  .h5 .small, .h6 small,
  .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #161b1d; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px; }
  h1 small,
  h1 .small, .h1 small,
  .h1 .small,
  h2 small,
  h2 .small, .h2 small,
  .h2 .small,
  h3 small,
  h3 .small, .h3 small,
  .h3 .small {
    font-size: 65%; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px; }
  h4 small,
  h4 .small, .h4 small,
  .h4 .small,
  h5 small,
  h5 .small, .h5 small,
  .h5 .small,
  h6 small,
  h6 .small, .h6 small,
  .h6 .small {
    font-size: 75%; }

h1, .h1 {
  font-size: 28px; }

h2, .h2 {
  font-size: 23px; }

h3, .h3 {
  font-size: 18px; }

h4, .h4 {
  font-size: 11px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

h1, .h1 {
  line-height: 33px; }

h2, .h2 {
  line-height: 28px; }

h3, .h3 {
  line-height: 23px; }

h4, .h4 {
  line-height: 20px;
  font-family: "Merriweather Sans", sans-serif; }

h4.an-small-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px; }
  h4.an-small-title.light-color {
    color: #54656e; }

p {
  margin: 0 0 10px; }

.lead {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .lead {
      font-size: 24px; } }

small,
.small {
  font-size: 75%; }

mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .an-home-section .an-home-img-container .home-banner-content, .an-home-section .an-home-details p, .an-title-content, .an-service-single, .blog-post-img, .an-pricing-table-single .price-header, .an-pricing-table-single .feature-lists, .an-user-single, .testimonial-single {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase, h4.an-small-title, .initialism, .an-btn, .navbar-default .navbar-nav > li > a, .an-title-content h1, .an-service-single h3, .an-pricing-table-single .price-header .plan-name, .an-user-single .profile-details h4, .an-contact-us h4 {
  text-transform: uppercase; }

.text-capitalize, .an-portfolio-section .filter-button-group button.an-btn {
  text-transform: capitalize; }

.text-muted {
  color: #777777; }

.text-primary {
  color: #337ab7; }

a.text-primary:hover,
a.text-primary:focus {
  color: #286090; }

.text-success {
  color: #3c763d; }

a.text-success:hover,
a.text-success:focus {
  color: #2b542c; }

.text-info {
  color: #31708f; }

a.text-info:hover,
a.text-info:focus {
  color: #245269; }

.text-warning {
  color: #8a6d3b; }

a.text-warning:hover,
a.text-warning:focus {
  color: #66512c; }

.text-danger {
  color: #a94442; }

a.text-danger:hover,
a.text-danger:focus {
  color: #843534; }

.bg-primary {
  color: #fff; }

.bg-primary {
  background-color: #337ab7; }

a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #286090; }

.bg-success {
  background-color: #dff0d8; }

a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3; }

.bg-info {
  background-color: #d9edf7; }

a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee; }

.bg-warning {
  background-color: #fcf8e3; }

a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5; }

.bg-danger {
  background-color: #f2dede; }

a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9; }

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled, .an-pricing-table-single .feature-lists {
  padding-left: 0;
  list-style: none; }

.list-inline, .an-footer-category-list, .an-social-icons {
  padding-left: 0;
  list-style: none;
  margin-left: -5px; }
  .list-inline > li, .an-footer-category-list > li, .an-social-icons > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

dl {
  margin-top: 0;
  margin-bottom: 20px; }

dt,
dd {
  line-height: 27px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table; }

.dl-horizontal dd:after {
  clear: both; }

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .dl-horizontal dd {
    margin-left: 180px; } }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777; }

.initialism {
  font-size: 90%; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee; }
  blockquote p:last-child,
  blockquote ul:last-child,
  blockquote ol:last-child {
    margin-bottom: 0; }
  blockquote footer,
  blockquote small,
  blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 27px;
    color: #777777; }
    blockquote footer:before,
    blockquote small:before,
    blockquote .small:before {
      content: '\2014 \00A0'; }

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right; }
  .blockquote-reverse footer:before,
  .blockquote-reverse small:before,
  .blockquote-reverse .small:before,
  blockquote.pull-right footer:before,
  blockquote.pull-right small:before,
  blockquote.pull-right .small:before {
    content: ''; }
  .blockquote-reverse footer:after,
  .blockquote-reverse small:after,
  .blockquote-reverse .small:after,
  blockquote.pull-right footer:after,
  blockquote.pull-right small:after,
  blockquote.pull-right .small:after {
    content: '\00A0 \2014'; }

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 27px; }

.an-form {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0; }
  .an-form .btn-submit-full {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    Background: #38a6a6;
    color: #fff;
    font-size: 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: 0;
    border: 0; }
    .an-form .btn-submit-full:focus, .an-form .btn-submit-full:active {
      outline: 0 !important;
      border: 0;
      color: #fff;
      box-shadow: none; }

.an-form-control {
  position: relative;
  width: 100%;
  height: 40px;
  background: #f4f8f8;
  outline: 0;
  padding: 5px 15px;
  border: 1px solid #ebf1f2;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin-bottom: 20px; }
  .an-form-control.dark {
    background: #161b1d;
    border: 1px solid #161b1d;
    color: #fff; }
  .an-form-control:focus, .an-form-control:active {
    border: 1px solid #38a6a6; }

textarea.an-form-control {
  height: 120px; }

#an-main-wrapper {
  position: relative;
  width: 100%;
  height: auto; }

.an-page-content {
  position: relative;
  display: block;
  padding: 100px 0; }

.an-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 25px;
  font-size: 14px;
  line-height: 27px;
  border-radius: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .an-btn:focus, .an-btn.focus, .an-btn:active:focus, .an-btn:active.focus, .an-btn.active:focus, .an-btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .an-btn:hover, .an-btn:focus, .an-btn.focus {
    color: #333;
    text-decoration: none; }
  .an-btn.btn-big {
    padding-left: 45px;
    padding-right: 45px; }
  .an-btn.fluid {
    width: 100%; }
  .an-btn:active, .an-btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .an-btn.disabled, .an-btn[disabled],
  fieldset[disabled] .an-btn {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none; }

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none; }

.an-btn-default {
  background: #38a6a6;
  border-color: #38a6a6;
  color: #fff;
  transition: all 0.3s ease; }
  .an-btn-default i {
    font-size: 18px; }
  .an-btn-default:hover {
    background: #1ba853;
    color: #fff;
    border-color: #1ba853; }

.an-btn-default-transparent {
  background: transparent;
  border-color: #38a6a6;
  color: #38a6a6;
  transition: all 0.3s ease; }
  .an-btn-default-transparent i {
    font-size: 18px; }
  .an-btn-default-transparent:hover {
    background: #1ba853;
    color: #fff;
    border-color: #1ba853; }

.an-btn-accents {
  background: #e17950;
  border-color: #e17950;
  color: #fff;
  transition: all 0.3s ease; }
  .an-btn-accents i {
    font-size: 18px; }
  .an-btn-accents:hover {
    background: #d95825;
    color: #fff;
    border-color: #d95825; }

.an-btn-blue {
  background: #358fff;
  border-color: #358fff;
  color: #fff;
  transition: all 0.3s ease; }
  .an-btn-blue i {
    font-size: 18px; }
  .an-btn-blue:hover {
    background: #0273ff;
    color: #fff;
    border-color: #0273ff; }

.an-btn-purple {
  background: #af67ff;
  border-color: #af67ff;
  color: #fff;
  transition: all 0.3s ease; }
  .an-btn-purple i {
    font-size: 18px; }
  .an-btn-purple:hover {
    background: #9434ff;
    color: #fff;
    border-color: #9434ff; }

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .btn-default:focus, .btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c; }
  .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .btn-default:active, .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
    .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus,
    .open > .btn-default.dropdown-toggle:hover,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle.focus {
      color: #333;
      background-color: #d4d4d4;
      border-color: #8c8c8c; }
  .btn-default:active, .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus,
  fieldset[disabled] .btn-default:hover,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc; }
  .btn-default .badge {
    color: #fff;
    background-color: #333; }

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40; }
  .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #286090;
    border-color: #204d74; }
    .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
    .open > .btn-primary.dropdown-toggle:hover,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle.focus {
      color: #fff;
      background-color: #204d74;
      border-color: #122b40; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary.focus {
    background-color: #337ab7;
    border-color: #2e6da4; }
  .btn-primary .badge {
    color: #337ab7;
    background-color: #fff; }

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; }
  .btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625; }
  .btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439; }
  .btn-success:active, .btn-success.active,
  .open > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    border-color: #398439; }
    .btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus,
    .open > .btn-success.dropdown-toggle:hover,
    .open > .btn-success.dropdown-toggle:focus,
    .open > .btn-success.dropdown-toggle.focus {
      color: #fff;
      background-color: #398439;
      border-color: #255625; }
  .btn-success:active, .btn-success.active,
  .open > .btn-success.dropdown-toggle {
    background-image: none; }
  .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus,
  fieldset[disabled] .btn-success:hover,
  fieldset[disabled] .btn-success:focus,
  fieldset[disabled] .btn-success.focus {
    background-color: #5cb85c;
    border-color: #4cae4c; }
  .btn-success .badge {
    color: #5cb85c;
    background-color: #fff; }

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da; }
  .btn-info:focus, .btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85; }
  .btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc; }
  .btn-info:active, .btn-info.active,
  .open > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc; }
    .btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus,
    .open > .btn-info.dropdown-toggle:hover,
    .open > .btn-info.dropdown-toggle:focus,
    .open > .btn-info.dropdown-toggle.focus {
      color: #fff;
      background-color: #269abc;
      border-color: #1b6d85; }
  .btn-info:active, .btn-info.active,
  .open > .btn-info.dropdown-toggle {
    background-image: none; }
  .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus,
  fieldset[disabled] .btn-info:hover,
  fieldset[disabled] .btn-info:focus,
  fieldset[disabled] .btn-info.focus {
    background-color: #5bc0de;
    border-color: #46b8da; }
  .btn-info .badge {
    color: #5bc0de;
    background-color: #fff; }

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }
  .btn-warning:focus, .btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d; }
  .btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512; }
  .btn-warning:active, .btn-warning.active,
  .open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512; }
    .btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus,
    .open > .btn-warning.dropdown-toggle:hover,
    .open > .btn-warning.dropdown-toggle:focus,
    .open > .btn-warning.dropdown-toggle.focus {
      color: #fff;
      background-color: #d58512;
      border-color: #985f0d; }
  .btn-warning:active, .btn-warning.active,
  .open > .btn-warning.dropdown-toggle {
    background-image: none; }
  .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus,
  fieldset[disabled] .btn-warning:hover,
  fieldset[disabled] .btn-warning:focus,
  fieldset[disabled] .btn-warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236; }
  .btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff; }

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a; }
  .btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19; }
  .btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925; }
  .btn-danger:active, .btn-danger.active,
  .open > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925; }
    .btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus,
    .open > .btn-danger.dropdown-toggle:hover,
    .open > .btn-danger.dropdown-toggle:focus,
    .open > .btn-danger.dropdown-toggle.focus {
      color: #fff;
      background-color: #ac2925;
      border-color: #761c19; }
  .btn-danger:active, .btn-danger.active,
  .open > .btn-danger.dropdown-toggle {
    background-image: none; }
  .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus,
  fieldset[disabled] .btn-danger:hover,
  fieldset[disabled] .btn-danger:focus,
  fieldset[disabled] .btn-danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a; }
  .btn-danger .badge {
    color: #d9534f;
    background-color: #fff; }

.btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0; }
  .btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled],
  fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent; }
  .btn-link:hover, .btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent; }
  .btn-link[disabled]:hover, .btn-link[disabled]:focus,
  fieldset[disabled] .btn-link:hover,
  fieldset[disabled] .btn-link:focus {
    color: #777777;
    text-decoration: none; }

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px; }

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

.overlay-utility, .an-porfolio-single a .overlay, .an-user-single .profile-pic-blur-bg .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10; }

.an-flex-center-center, .an-porfolio-single a .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column; }

.padding20 {
  padding: 20px; }

.margin-top60 {
  margin-top: 60px; }

.an-header {
  position: relative;
  width: 100%; }
  .an-header .navbar-default {
    border-radius: 0;
    background: rgba(44, 53, 58, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease; }
    .an-header .navbar-default.dark {
      background: #2c353a;
      border-bottom: 1px solid #161b1d; }

.navbar-default {
  border: 0;
  margin-bottom: 0; }
  @media (max-width: 991px) {
    .navbar-default {
      overflow: hidden; } }
  .navbar-default .navbar-brand {
    padding: 0 20px;
    height: 55px;
    display: block;
    line-height: 50px;
    color: #fff;
    font-size: 25px;
    font-family: "Lobster Two", cursive; }
    .navbar-default .navbar-brand:hover {
      color: #38a6a6; }
    @media (max-width: 1200px) {
      .navbar-default .navbar-brand {
        margin-right: 20px; } }
    @media (max-width: 991px) {
      .navbar-default .navbar-brand {
        height: 55px;
        line-height: 55px; } }
    .navbar-default .navbar-brand img {
      width: 180px;
      display: inline-block; }
      @media (max-width: 1200px) {
        .navbar-default .navbar-brand img {
          width: 140px; } }
  .navbar-default .navbar-nav {
    float: right; }
    .navbar-default .navbar-nav > .open > a {
      color: #38a6a6;
      background: transparent; }
      .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:active {
        color: #38a6a6;
        background: transparent; }
    @media (min-width: 992px) {
      .navbar-default .navbar-nav > li.dropdown:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        top: 100%; } }
    .navbar-default .navbar-nav > li > a {
      color: #d9d9d9;
      padding-top: 15px;
      padding-bottom: 15px; }
      .navbar-default .navbar-nav > li > a .caret {
        display: none; }
      .navbar-default .navbar-nav > li > a i {
        font-size: 20px;
        padding-right: 5px;
        position: relative;
        top: 1px; }
      .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
        color: #38a6a6;
        background: transparent; }
    .navbar-default .navbar-nav > li.active > a {
      background: transparent;
      color: #38a6a6; }
      .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li.active > a:focus, .navbar-default .navbar-nav > li.active > a:active {
        background: transparent;
        color: #38a6a6; }
    @media (max-width: 991px) {
      .navbar-default .navbar-nav > li .dropdown-menu {
        position: relative;
        width: 100%;
        background: #21282c;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 15px;
        padding: 0;
        border: 0; }
        .navbar-default .navbar-nav > li .dropdown-menu li a {
          padding: 7px 15px;
          color: #6e8591 !important;
          font-size: 16px;
          transition: all 0.3s ease; }
          .navbar-default .navbar-nav > li .dropdown-menu li a:hover, .navbar-default .navbar-nav > li .dropdown-menu li a:focus {
            color: #fff !important;
            background: #38a6a6 !important;
            padding-left: 20px; } }
    @media (min-width: 991px) {
      .navbar-default .navbar-nav > li .dropdown-menu {
        border-radius: 3px;
        transition: all 0.3s ease;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background: #2c353a;
        border: 0;
        min-width: 220px;
        display: block;
        top: 90%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 0;
        opacity: 0;
        visibility: hidden; }
        .navbar-default .navbar-nav > li .dropdown-menu li a {
          padding: 7px 15px;
          color: #6e8591;
          font-size: 16px;
          transition: all 0.3s ease; }
          .navbar-default .navbar-nav > li .dropdown-menu li a:hover, .navbar-default .navbar-nav > li .dropdown-menu li a:focus {
            color: #fff;
            background: #38a6a6;
            padding-left: 20px; } }
    .navbar-default .navbar-nav.navbar-right {
      padding-top: 23px; }
      .navbar-default .navbar-nav.navbar-right li {
        border-right: 1px solid #425057;
        padding: 0 15px; }
        @media (max-width: 991px) {
          .navbar-default .navbar-nav.navbar-right li {
            border-right: 0; } }
        .navbar-default .navbar-nav.navbar-right li:last-child {
          border-right: 0;
          padding-right: 10px; }
        .navbar-default .navbar-nav.navbar-right li a.an-btn {
          padding: 5px 20px;
          color: #fff; }
          .navbar-default .navbar-nav.navbar-right li a.an-btn i {
            padding: 0; }
          @media (max-width: 1200px) and (min-width: 991px) {
            .navbar-default .navbar-nav.navbar-right li a.an-btn {
              width: 35px;
              height: 35px;
              line-height: 31px;
              padding: 0; }
              .navbar-default .navbar-nav.navbar-right li a.an-btn span {
                display: none; }
              .navbar-default .navbar-nav.navbar-right li a.an-btn i {
                padding: 0; } }
          .navbar-default .navbar-nav.navbar-right li a.an-btn:hover {
            background: #1ba853;
            border-color: #1ba853; }
        .navbar-default .navbar-nav.navbar-right li a.sign-up-link {
          width: 35px;
          height: 35px;
          padding: 0;
          line-height: 35px;
          display: block;
          border: 1px solid #425057;
          border-radius: 50%;
          text-align: center;
          line-height: 30px; }
          .navbar-default .navbar-nav.navbar-right li a.sign-up-link i {
            padding: 0; }
          .navbar-default .navbar-nav.navbar-right li a.sign-up-link span {
            display: none;
            font-size: 14px; }
          .navbar-default .navbar-nav.navbar-right li a.sign-up-link:hover {
            border-color: #38a6a6; }
          @media (max-width: 991px) {
            .navbar-default .navbar-nav.navbar-right li a.sign-up-link {
              width: 100%;
              margin-top: 15px;
              border-radius: 30px; }
              .navbar-default .navbar-nav.navbar-right li a.sign-up-link span {
                display: inline-block; } }

@media (max-width: 991px) {
  .navbar-default .navbar-header {
    float: none; }
  .navbar-default .navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    border-color: #38a6a6;
    transition: all 0.3s ease; }
    .navbar-default .navbar-toggle .icon-bar {
      background: #38a6a6; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background: #38a6a6; }
      .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
        background: #fff; }
  .navbar-default .navbar-left, .navbar-default .navbar-righ {
    float: none !important; }
  .navbar-default .navbar-right li {
    float: left; }
  .navbar-default .navbar-toggle {
    display: block; }
  .navbar-default .navbar-collapse {
    border-top: 0; }
  .navbar-default .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-default .navbar-collapse.collapse {
    display: none !important;
    transition: height .3s ease;
    overflow: hidden; }
  .navbar-default .navbar-collapse.collapsing {
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    transition: height .3s; }
  .navbar-default .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
    padding-bottom: 15px;
    background: #161b1d; }
  .navbar-default .navbar-nav > li {
    float: none; }
  .navbar-default .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative; }
    .navbar-default .navbar-nav > li > a .caret {
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 20px; }
  .navbar-default .collapse.in {
    display: block !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); } }

.an-footer {
  position: relative;
  padding: 0px 0 45px;
  border-top: 2px solid #e17950;
  background: #2c353a;
  margin-top: 0px; }

.an-footer-top {
  position: relative;
  padding-bottom: 30px;
  border-bottom: 1px solid #425057; }

.an-footer-category-list {
  position: relative;
  width: 100%;
  margin: 0;
  font-size: 0; }
  .an-footer-category-list li {
    position: relative;
    width: 25%;
    padding-bottom: 15px; }
    @media (max-width: 992px) {
      .an-footer-category-list li {
        width: 33.33%; } }
    @media (max-width: 480px) {
      .an-footer-category-list li {
        width: 50%; } }
    .an-footer-category-list li a {
      color: #38a6a6;
      font-size: 15px; }
      .an-footer-category-list li a i {
        position: relative;
        top: 1px;
        font-size: 18px;
        padding-right: 8px; }
      .an-footer-category-list li a:hover {
        color: #38a6a6; }

.an-social-icons li {
  margin-right: 6px; }
  .an-social-icons li a {
    width: 35px;
    height: 35px;
    padding: 0;
    line-height: 35px;
    display: block;
    border: 1px solid #425057;
    border-radius: 50%;
    text-align: center;
    color: #38a6a6; }
    .an-social-icons li a i {
      padding: 0; }
    .an-social-icons li a:hover {
      color: #fff;
      background: #38a6a6;
      border-color: #38a6a6; }

.an-footer-bottom {
  position: relative;
  padding-top: 45px; }

.an-logo {
  padding: 0 20px;
  height: 55px;
  display: block;
  line-height: 50px;
  color: #fff;
  font-size: 25px;
  font-family: "Lobster Two", cursive;
  padding: 0;
  color: #38a6a6;
  height: auto;
  line-height: inherit;
  padding-bottom: 15px; }
  .an-logo:hover {
    color: #38a6a6; }
  @media (max-width: 1200px) {
    .an-logo {
      margin-right: 20px; } }
  @media (max-width: 991px) {
    .an-logo {
      height: 55px;
      line-height: 55px; } }
  .an-logo img {
    width: 180px;
    display: inline-block; }
    @media (max-width: 1200px) {
      .an-logo img {
        width: 140px; } }

.an-widget {
  position: relative;
  padding-bottom: 30px; }
  .an-widget.newsletter .an-small-title {
    margin-bottom: 25px; }
  .an-widget img {
    width: 180px;
    margin-bottom: 40px; }
  .an-widget .copyrights {
    color: #4d5d66;
    line-height: 20px; }
  .an-widget p {
    color: #fff;
    margin-bottom: 0;
    line-height: 20px; }

.an-home-section {
  position: relative;
  width: 100%;
  height: auto; }
  .an-home-section .banner-section {
    position: relative;
    width: 100%;
    height: 800px; }
    @media (max-width: 768px) {
      .an-home-section .banner-section {
        height: 500px; } }
  .an-home-section .an-home-img-container {
    position: relative;
    width: 100%;
    height: 1000px;
    display: block; }
    @media (max-width: 768px) {
      .an-home-section .an-home-img-container {
        height: 700px; } }
    .an-home-section .an-home-img-container .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      z-index: 0; }
    .an-home-section .an-home-img-container .home-banner-content {
      position: relative;
      position: relative;
      z-index: 10;
      padding-top: 200px; }
      @media (max-width: 768px) {
        .an-home-section .an-home-img-container .home-banner-content {
          padding-top: 150px; } }
      .an-home-section .an-home-img-container .home-banner-content h1 {
        font-weight: 300;
        color: #fff;
        font-size: 48px; }
        @media (max-width: 768px) {
          .an-home-section .an-home-img-container .home-banner-content h1 {
            font-size: 28px; } }
        .an-home-section .an-home-img-container .home-banner-content h1 span {
          font-weight: 700;
          color: #38a6a6; }
        .an-home-section .an-home-img-container .home-banner-content h1 b {
          font-weight: 300;
          font-style: italic; }
      .an-home-section .an-home-img-container .home-banner-content p {
        font-size: 23px;
        color: #fff;
        font-family: "Cabin", sans-serif;
        padding-top: 15px;
        font-weight: 300;
        margin-bottom: 45px; }
  .an-home-section .an-home-details {
    position: relative;
    z-index: 11;
    padding: 45px 15px;
    background: #fff;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .an-home-section .an-home-details p {
      max-width: 780px;
      margin: 0 auto;
      width: 100%; }

.an-title-content {
  position: relative;
  width: 100%;
  padding-bottom: 45px; }
  .an-title-content h1 {
    position: relative;
    z-index: 10;
    font-size: 42px;
    line-height: 66px;
    color: #4d5d66;
    margin: 0; }
    @media (max-width: 480px) {
      .an-title-content h1 {
        font-size: 28px; } }
  .an-title-content .bg-text {
    position: absolute;
    top: 22px;
    z-index: 8;
    width: 100%;
    color: #e8eff0; }
    .an-title-content .bg-text span {
      font-size: 112px; }
  .an-title-content p {
    font-size: 20px;
    font-family: "Cabin", sans-serif;
    font-style: italic;
    padding-top: 10px;
    max-width: 780px;
    margin: 0 auto;
    color: #aac4c8; }

.an-section {
  position: relative;
  width: 100%;
  padding: 60px 30px;
  background: #fff;
  border-radius: 0; }
  .an-section.bottom-border {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }

.an-portfolio-section {
  position: relative;
  width: 100%; }
  @media (max-width: 480px) {
    .an-portfolio-section .col-md-3 {
      width: 100%; } }
  .an-portfolio-section .filter-button-group {
    display: block;
    padding-bottom: 30px; }
    .an-portfolio-section .filter-button-group button.an-btn {
      margin: 0;
      background: transparent;
      padding: 10px;
      font-family: "Cabin", sans-serif;
      font-style: italic;
      color: #7d919c;
      font-weight: normal;
      font-size: 16px;
      outline: 0; }
      .an-portfolio-section .filter-button-group button.an-btn:hover, .an-portfolio-section .filter-button-group button.an-btn:focus {
        color: #38a6a6;
        outline: 0;
        box-shadow: none; }

.an-porfolio-single {
  position: relative;
  width: 100%;
  margin-bottom: 20px; }
  .an-porfolio-single a {
    position: relative;
    width: 100%;
    display: block; }
    .an-porfolio-single a img {
      width: 100%;
      border-radius: 4px; }
    .an-porfolio-single a:hover .overlay {
      opacity: 1;
      visibility: visible; }
    .an-porfolio-single a .overlay {
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      border-radius: 4px;
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden; }

.an-services {
  position: relative; }

.an-service-single {
  position: relative;
  margin-bottom: 30px;
  background: #f4f8f8;
  padding: 20px 15px; }
  .an-service-single i {
    font-size: 28px;
    width: 35px;
    height: 35px;
    padding: 0;
    line-height: 35px;
    display: block;
    border: 1px solid #425057;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    color: #38a6a6;
    border-color: #38a6a6; }
    .an-service-single i i {
      padding: 0; }
  .an-service-single h3 {
    font-family: "Merriweather Sans", sans-serif;
    padding: 10px 0; }

.an-blog-container {
  position: relative;
  width: 100%; }
  .an-blog-container.blog-post-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto; }
    .an-blog-container.blog-post-container .blog-content {
      padding: 22.5px 0; }
      .an-blog-container.blog-post-container .blog-content p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 15px; }

.an-blog-single {
  position: relative;
  border-radius: 3px;
  margin-bottom: 30px;
  background: #f4f8f8; }
  .an-blog-single .blog-image-container {
    position: relative;
    width: 100%;
    height: 200px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .an-blog-single h3 {
    margin-top: 0;
    font-size: 23px; }

.blog-meta {
  color: #4d5d66; }

.blog-content {
  display: block;
  padding-bottom: 10px;
  font-size: 16px; }
  .blog-content p {
    color: #21282c;
    font-size: 16px; }

.blog-post-img {
  position: relative;
  width: 100%; }
  .blog-post-img img {
    max-width: 100%;
    marign-left: auto;
    margin-right: auto; }

.an-pricing-table-single {
  position: relative;
  width: 100%;
  background: #f4f8f8;
  margin-bottom: 30px;
  border-radius: 3px; }
  .an-pricing-table-single.standard .price-header .plan-price {
    color: #f27d00; }
  .an-pricing-table-single.plan-gold .price-header .plan-price {
    color: #358fff; }
  .an-pricing-table-single.plan-plutinum .price-header .plan-price {
    color: #af67ff; }
  .an-pricing-table-single .price-header {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #e8eff0; }
    .an-pricing-table-single .price-header .plan-name {
      margin-top: 0; }
    .an-pricing-table-single .price-header .plan-price {
      color: #38a6a6; }
      .an-pricing-table-single .price-header .plan-price span {
        font-size: 15px;
        position: relative;
        top: -15px;
        padding-right: 5px;
        color: #4d5d66; }
      .an-pricing-table-single .price-header .plan-price small {
        font-size: 16px;
        color: #4d5d66; }
  .an-pricing-table-single .feature-lists {
    padding: 15px; }
    .an-pricing-table-single .feature-lists li {
      padding: 5px 0;
      color: #2c353a; }
  .an-pricing-table-single .price-footer {
    padding: 20px;
    border-top: 1px solid #e8eff0; }

.an-recent-users {
  position: relative;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap; }
  .an-recent-users .an-single-user-main-body {
    width: 50%;
    padding: 5px; }
    @media (max-width: 480px) {
      .an-recent-users .an-single-user-main-body {
        width: 100%; } }

.an-user-single {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #f4f8f8;
  margin-bottom: 5px;
  border-radius: 3px; }
  .an-user-single:hover .social-info {
    left: 0; }
  .an-user-single .profile-details {
    position: relative;
    padding: 10px;
    padding-top: 0; }
    .an-user-single .profile-details h4 {
      margin: 0;
      padding-bottom: 5px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px; }
    .an-user-single .profile-details .location i {
      color: #161b1d;
      padding-right: 5px; }
    .an-user-single .profile-details .location a {
      color: #4d5d66; }
      .an-user-single .profile-details .location a:hover {
        color: #161b1d;
        text-decoration: underline; }
    .an-user-single .profile-details .short-desc {
      color: #586a74;
      font-weight: normal; }

.an-user-single {
  margin-bottom: 15px; }
  .an-user-single.an-our-team {
    padding-bottom: 15px; }
    .an-user-single.an-our-team .profile-pic-container,
    .an-user-single.an-our-team .profile-pic-blur-bg,
    .an-user-single.an-our-team .profile-pic-bg {
      height: 200px;
      margin-bottom: 20px; }
    .an-user-single.an-our-team .profile-pic-bg {
      height: 200px !important;
      filter: blur(0px) !important; }
    .an-user-single.an-our-team .an-read-more {
      margin-top: 10px; }
  .an-user-single .profile-pic-container {
    position: relative;
    margin: -2px;
    height: 150px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end; }
  .an-user-single .profile-pic-blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    overflow: hidden; }
    .an-user-single .profile-pic-blur-bg .overlay {
      background: rgba(0, 0, 0, 0.5); }
    .an-user-single .profile-pic-blur-bg .profile-pic-bg {
      position: relative;
      width: 100%;
      height: 152px;
      -webkit-filter: blur(1px);
      filter: blur(1px); }
  .an-user-single .image-container {
    position: relative;
    z-index: 12;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
    top: 30px;
    border-radius: 50%; }

.social-info {
  position: absolute;
  left: -45px;
  top: 0;
  width: 45px;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease; }
  .social-info.fixed-left {
    left: 0; }
  .social-info.with-color a.facebook {
    background: #3b5999; }
  .social-info.with-color a.twitter {
    background: #55acee; }
  .social-info.with-color a.google {
    background: #dd4b39; }
  .social-info.with-color a.dribble {
    background: #ea4c89; }
  .social-info a {
    color: #fff;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center; }
    .social-info a.facebook:hover {
      background: #3b5999; }
    .social-info a.twitter:hover {
      background: #55acee; }
    .social-info a.google:hover {
      background: #dd4b39; }
    .social-info a.dribble:hover {
      background: #ea4c89; }
    .social-info a.reddit:hover {
      background: #ff5700; }
    .social-info a.whatsapp:hover {
      background: #25D366; }
    .social-info a.pinterest:hover {
      background: #bd081c; }

.testimonial-single {
  position: relative;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px; }
  .testimonial-single i {
    font-size: 28px;
    width: 35px;
    height: 35px;
    padding: 0;
    line-height: 35px;
    display: block;
    border: 1px solid #425057;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    color: #e8eff0;
    border-color: #e8eff0;
    margin-bottom: 30px; }
    .testimonial-single i i {
      padding: 0; }
  .testimonial-single p {
    font-family: "Cabin", sans-serif;
    color: #4d5d66; }
  .testimonial-single cite a {
    font-style: normal;
    color: #38a6a6; }

.testimonial .owl-buttons {
  display: none; }

.an-contact-us {
  position: relative;
  padding: 30px 0;
  margin-bottom: 30px; }
  .an-contact-us h4 {
    font-size: 18px;
    font-family: "Merriweather Sans", sans-serif; }
  .an-contact-us .an-map-content {
    width: 100%;
    height: 600px; }
    @media (max-width: 768px) {
      .an-contact-us .an-map-content {
        margin-top: 30px; } }
    .an-contact-us .an-map-content #nightstyled-map {
      height: 100%; }

.an-address-single {
  font-style: italic;
  color: #2c353a;
  position: relative;
  margin-bottom: 30px; }
  .an-address-single p {
    margin: 0; }
